.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
}

.card {
  display: flex;
  background-position: center;
  background-size: cover;
  height: 200px;
  justify-content: center;
  align-items: center;

  h2{
    text-align: center;
    color: white;
  }
}
